body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/static/images/roughcloth.png");
    background-repeat: 2;    

    color: black;
  }
  
  .topnav {
    overflow: hidden;
    background-color:#ff0000;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  img {
    border: 5px solid #555;
    border-radius: 5%;
  }

  .alpha table,.alpha th,.alpha td {
    border: 2px solid #ff0000;
    border-collapse: collapse;
  }

  .alpha th, .alpha td{
    padding: 15px;
    text-align: center;
  }

  table.beta{
    border: none;
    width: 100%;
    color: #ff0000;
    font-weight: bold;
  }

  .beta td{
    padding: 15px;
    text-align: center;
  }

  table.charlie{
    border:none;
    width: 100%;
  }

  .charlie th{
    font-weight: bold;
    text-align: left;
    background-color: #ff3D3D;
  }

  .charlie tr:nth-child(even) {
    background-color: #dddddd;
  }

  .charlie tr:hover {
    background-color: #36a327;
  }

  h6{
    text-decoration: underline;
    text-align: center;
  }
  
