{% extends "base_generic.html" %}

{% block content %}
<h1 style="text-align:center;">List of All Cars</h1>


<div id="table">
    <table class="charlie">
        <thead>
            <tr>
                <th>Car ID</th>
                <th>Owner</th>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Color</th>
                <th>Image Path</th>
            </tr>
        </thead>
        <tbody>
            {% for x in car_list %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.owner }}</td>
                <td>{{ x.year }}</td>
                <td>{{ x.make }}</td>
                <td>{{ x.model }}</td>
                <td>{{ x.color }}</td>
                <td>{{ x.image }}</td>
        
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block sidecar %}
  <h6>Admin Quick Lists</h6>
  <a href="{% url 'diag_data' %}">Admin Home</a><br>
  <a href="{% url 'userList' %}">All Users</a><br>
  <a href="{% url 'carList' %}">All Cars</a><br>
  <a href="{% url 'entryList' %}">All Entries</a><br>
  <a href="{% url 'reminderList' %}">All Reminders</a><br>
  <br>
  <a href="{% url 'admin:index' %}">Django Admin Tools</a>
{% endblock %}