{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ car.make }}, {{ car.model }}</h1>
  <br></br>
  {% if car.image %}
        <img src="{{car.image.url}}" style="float:right; width: 600px; height: 500px;">
        <br>
  {% else %}
        <img src="/media/media/uploaded_images/default.png" style="float:right; width: 600px; height: 500px;">
        <br>
  {% endif %}


      Year: {{ car.year }}
      <br>
      Color: {{ car.color }}
      <br>
      Mileage: {{ car.mileage }}
        <em>[Mileage has not been updated in: THIS MANY DAYS]</em>
      <br>
      VIN: {{ car.vin }}
      <br>
      <br>

      <table>
        <tr>
          <th style="width:200px">Inspected:</th>
          <th style="width:200px">Registered:</th>
          <th style="width:200px">Insured:</th>
        </tr>
        <tr>
          <td>{{ car.is_inspected|yesno }}</td>
          <td>{{ car.is_registered|yesno }}</td>
          <td>{{ car.is_insured|yesno }}</td>
        </tr>
        <tr>
          <th colspan="3">Expiration Dates:</th>
        </tr>
        <tr>
          <td>{{ car.inspected_exp }}</td>
          <td>{{ car.registered_exp }}</td>
          <td>{{ car.insured_exp }}</td>
        </tr>
      </table>

      <br>
      <br>
      
  <button><a href="{{ car.get_absolute_url }}/update">Update Vehicle</a></button>
  <button><a href="{{ car.get_absolute_url }}/delete">Delete Vehicle</a></button>
  <br>
  <br>
  <hr>
  <div id="container" style="width: 50%;">
    <canvas id="expenditurepercar-chart" data-url="{% url 'expenditurepercar-chart' pk=car.id %}"></canvas>
  </div>
  <br>
  <hr>
  <h2> Vehicle Log </h2>
  <a style="float:right;">Total Spent to Date: $<u> {{ total }}</u></a>

  {% if entry_list %}
  <ul>
      {% for entry in entry_list %}
      <li>
        <a>{{ entry.car }}</a><br>
        <a>{{ entry.blog }}</a><br>
        <a style="float:right;">$ {{ entry.cost }}</a>
        <a>{{ entry.date }}</a><br>
        <a href="{{ entry.get_absolute_url }}/update">Edit Log Entry</a>
        <hr style="width: 50%"> 
      </li>
      {% endfor %}
  </ul>
  {% else %}
    <p>You Have No Log Entries</p>
    <button><a href="{% url 'createEntry' %}">Create a New Log Entry?</a></button>
  {% endif %}
  

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $expenditurepercarChart = $("#expenditurepercar-chart");
      $.ajax({
        url: $expenditurepercarChart.data("url"),
        success: function (data) {

          var ctx = $expenditurepercarChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Cost',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Spending in the Last Year'
              }
            }
          });

        }
      });

    });

  </script>



{% endblock %}