{% extends "base_generic.html" %}

{% block content %}
    <h1 style=" text-align: center;">Administrative Data</h1>
    <hr>

    <table class="beta" >
      <tr>
        <td >Total Users: {{ user_count }}</td>
        <td>Total Entries: {{ entry_count }}</td>
        <td>Total Cars: {{ car_count }}</td>
        <td>Total Reminders: {{ reminder_count }}</td>
      </tr>
    </table>
    <!--
    Total Users: {{ user_count }}
    Total Entries: {{ entry_count }}
    Total Cars: {{ car_count }}
    Total Reminders: {{ reminder_count }}
    -->
    <hr>
    <a style="float:right">Total Users: {{ user_count }}</a>
    <br>
    <div id="container" style="width: 75%;">
        <canvas id="newUsers-chart" data-url="{% url 'newUsers-chart' %}"></canvas>
    </div>
    <hr style="width: 50%;">

    <a style = "float:right">Total Entries: {{ entry_count }}</a>
    <br>
    <div id="container" style="width: 75%;">
      <canvas id="newEntries-chart" data-url="{% url 'newEntries-chart' %}"></canvas>
    </div>
    <hr style="width: 50%;">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!-- New Users In the Last Year Chart-->
  <script>
    $(function () {
      var $newUsersChart = $("#newUsers-chart");
      $.ajax({
        url: $newUsersChart.data("url"),
        success: function (data) {

          var ctx = $newUsersChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'pie',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'New Users',
                backgroundColor: ["#901B02", "#6E0090","#00F0FF","#FFFFFF","#00882A", "#F880FF", "#FF0000", "#00FF3C", "#0400FF", "#FF009D", "#FFFB00", "#0092FF"],
                data: data.data
              }]          
           },
            options: {
              responsive: true,
              legend: {
                position: 'right',
              },
              title: {
                display: true,
                text: 'New Users in the Last Year'
              }
            }
          });

        }
      }); 

    });

  </script>
<!-- New Entries In the Last Year Chart-->
<script>
  $(function () {
    var $newEntriesChart = $("#newEntries-chart");
    $.ajax({
      url: $newEntriesChart.data("url"),
      success: function (data) {

        var ctx = $newEntriesChart[0].getContext("2d");

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'New Entries',
              backgroundColor: 'red',
              data: data.data
            }]          
         },
          options: {
            responsive: true,
            legend: {
              position: 'right',
            },
            title: {
              display: true,
              text: 'New Entries in the Last Year'
            }
          }
        });

      }
    }); 

  });

</script>
{% endblock %}


{% block sidecar %}
  <h6>Admin Quick Lists</h6>
  <a href="{% url 'userList' %}">All Users</a><br>
  <a href="{% url 'carList' %}">All Cars</a><br>
  <a href="{% url 'entryList' %}">All Entries</a><br>
  <a href="{% url 'reminderList' %}">All Reminders</a><br>
  <br>
  <a href="{% url 'admin:index' %}">Django Admin Tools</a>
{% endblock %}

