{% extends "base_generic.html" %} {% block content %}
<h1>Welcome To Your Garage!</h1>

{% if car_list %}
<ul style="list-style-type: none;">
    {% for car in car_list %} {% if car.image %}
    <li>
        <a href="{{ car.get_absolute_url }}"><img src="{{car.image.url}}" style="width: 600px; height: 500px;" /></a>
        <br />
        <h4>{{ car.year }}, {{ car.make }}, {{ car.model }}</h4>
        <br />
    </li>
    {% else %}
    <li>
        <a href="{{ car.get_absolute_url }}"><img src="/media/media/uploaded_images/default.png" style="width: 600px; height: 500px;" /></a>
        <br />
        <h4>{{ car.year }}, {{ car.make }}, {{ car.model }}</h4>
        <br />
    </li>
    {% endif %} {% endfor %}
</ul>
{% else %}
<p>You Have No Cars in your Garage!</p>
<a href="{% url 'createCar' %}" class="btn btn-primary">Would you Like to add a New Car?</a>
{% endif %} {% endblock %}
