{% extends "base_generic.html" %}

{% block content %}
  <h1>Welcome {{user.first_name}} {{user.last_name}}!</h1>
  <div id="container" style="width: 50%;float:right;">
    <canvas id="expenditure-chart" data-url="{% url 'expenditure-chart' %}"></canvas>
  </div>
  <p>Username: {{user.username}}</p>
  
  <P>Email: {{user.email}}</P>
  <br>
  <br>
  <button><a href="{% url 'createCar' %}">Add a New Car </a></button>
  
  <button><a href="{% url 'myGarage' %}">My Garage</a></button>
  <br>
  <br>
  <br>
  <hr style="width:50%; float:left;">
  <br>

  <h2>All Your Log Entries:</h2>
  <br>
  <hr>
  <form action="{% url 'searchResults' %}" method="get" style="float:right;">
    <input name="query" type="text" placeholder="Search Entries Here.." >
    <button type="submit" name="button">Submit</button>
  </form>
  
  

  {% if entry_list %}
  <ul>
      {% for entry in entry_list %}
      <li>
          <a>{{ entry.car }}</a><br>
          <a>{{ entry.blog }}</a><br>
          <a style="float:right;">$ {{ entry.cost }}</a>
          <a>{{ entry.date }}</a><br>
          <a href="{{ entry.get_absolute_url }}/update">Edit Log Entry</a>
          <hr style="width: 50%">          
      </li>
      {% endfor %}
  </ul>
  {% else %}
    <p>You Have No Log Entries</p>
    <button><a href="{% url 'createEntry' %}">Create a New Log Entry?</a></button>
  {% endif %}

  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    $(function () {

      var $expenditureChart = $("#expenditure-chart");
      $.ajax({
        url: $expenditureChart.data("url"),
        success: function (data) {

          var ctx = $expenditureChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Cost',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Total Spending in the Last Year'
              }
            }
          });

        }
      });

    });

  </script>


 
{% endblock %}

{% block sidecar %}

  {% if user.is_authenticated %}
    <h5><u>Your Reminders: </u></h5>
    <br>
    {% if reminder_list %}
    <ul>
      {% for reminder in reminder_list %}
      <li>
        <a href="{{ reminder.get_absolute_url }}">{{ reminder.car }}</a><br>
        <a>{{ reminder.msg }}</a><br>
        <a>Remind on: <br>{{ reminder.remind_on_date }}</a><br>
        <hr>
      </li>  
      {% endfor %}
    </ul> 
    {% endif %}
  {% endif %}

{% endblock %}