{% extends "base_generic.html" %}

{% block content %}
  <section>
  <br>
  <h1>Garage Manager</h1>
  <p>Welcome to Garage Manager, a web app created by <em>Robert C. Bendell</em>!</p>
  <hr>
  </section>

  <section>
  <br>
  <h2>About</h2>
    <p>
      The Garage Manager was created to assist the everyday vehicle owner in tracking their personal vehicle maintenance.<br> 
      Growing up in a family that enjoyed older vehicles, I was subject to several common mechanic tasks in order to maintain our vehicles.<br>
      Historically, car owners have kept paper records and journals to track maintenance and spending throughout their vehicles lifespan, but that procedure has become outdated and honestly messy.<br> 
      This application is meant to be a place to track and maintain a history of someone's vehicles by providing an online journaling system that can be customized for each and every car in your fleet.<br> 
      Using this application one can maintain a record of each vehicle, in a single place, including generic statistics like mileage and oil type as well as more tedious information like being a place to store receipts, and to track parts with included warranties.<br>
    </p>
  <hr>
  </section>

  <section>
  <br>
  <h3>How to Use</h3>
  <ol type="I">
    <li>Create an Account</li>
    <li>Confirm Your Account Using the link sent to your provided Email</li>
    <li>Navigate to the Login page, and sign in to your new account</li>
    <li>Populate your Garage with the Vehicles you own, or would like to track the maintenance for</li>
    <li>Begin Creating Entries everytime you:</li>
    <ol type="i">
      <li>Perform Mainenance</li>
      <li>Upgrade Parts</li>
      <li>Change the Oil</li>
      <li>Have a Shop perform maintenance</li>
      <li>Change the color</li>
      <li>Want to Update the Mileage</li>
      <li>Or whatever else you do to your Vehicle!</li>
    </ol>
    <li>Continue doing so for your duration of ownsership to keep a full maintenance log for your vehicle!</li>
  </ol>
  <hr>
  </section>


{% endblock %}

